@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Alegreya:400,500,700&display=swap');
@font-face 
{font-family: ´Alegreya´;
src:url("../fonts/Alegreya/Alegreya-Regular.ttf");
}

@font-face 
{font-family: ´Alegreya Sans´;
src:url("../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf");
}
body{
	font-family: Alegreya Sans;
	font-size: 14px;
	color: #666;
}
header{
	background-color: #202020;
}
a{
color: #ffffff;
}
.bg-home{
	background-image:url("../img/hero-image.jpg");
}

#hero{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 10% 0;
	color: #ffffff;
	position: relative;
	height: 100vh;
	text-align: center;
}
#hero h1{
	font-size: 90px;
	font-family: alegreya;
}

#hero p{
	font-size: 20px;
}

.titulo{
	font-family: alegreya;
	color: #303030;
}

.subtitulo{
	font-family: alegreya sans;
	font-size: 20px;
	color: #686868;
}
.descripcion{
	font-size: 18px;
	color: #777777;
}
h5{
	font-family: alegreya;
	font-size:30px;
}
.btn{
	font-size: 13px;
	letter-spacing: 1px;
	padding: 10px 20px;
}

.btn-light{
	background-color: transparent;
	border-color: #ffffff;
	color: #ffffff;
}
.btn-success{
	background-color: #8e7754;
	border-color: transparent;
}
#who-we-are{
	padding: 10% 0%;
}

#location{
	padding: 10% 0;
}

#baking{
	text-align: center;
	padding: 10% 0%;
}
.work{
	position: relative;
}

.work-fondo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-color: #8e7754;
	opacity: 0;
	transition: all 0.4s ease-in;
	z-index: 10;
}

.work:hover .work-fondo{
	opacity: 1;
}
.work-texto{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	color: #ffffff;
	text-align: center;
	opacity: 0;
	transition: all 0.8s ease-in;
	z-index: 20;
}
.work:hover .work-texto{
	opacity: 1;
}

.work-texto h5{
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 14px;
	color: #ffffff;
}


.work-frame{
	position: absolute;
	top: 0%;
	padding: 5px;
	width: 100%;
	height: 100%;
}
#location{
	background-color: #f8f8f8;
}
footer{
	background-color: #353330;
	padding: 15px 0;
	color: #777;
	text-align: center;
}
footer img {
    margin-bottom: 25px;
    margin-top: 10px;
}